@model Category

<!--Uses template from _viewstart which inport template from _layout-->
@section title {
	<form method="POST" asp-controller="Categories" asp-action="Add">
		<div class="text-bg-danger danger" asp-validation-summary="All"></div> <!--Asp validation summary gets errormessage for all models-->
		<div class="row mb-3">
			<div class="col-2">
				<!--The asp-for gets the value of the Name of the object seected-->
				<label class="col-form-label" asp-for="Name"></label>
			</div>

			<div class="col-6">
				<input type="text" asp-for="Name" class="form-control"/>
			</div>

			<div class="col">
				<span class="text-danger" asp-validation-for="Name"></span> <!--Asp validation for gets errormessage for current models-->
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-2">
				<label class="col-form-label" asp-for="Description"></label>
			</div>

			<div class="col-6">
				<input type="text" asp-for="Description" class="form-control" />
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-2">
				<input type="submit" class="btn btn-primary" value="Add" />
			</div>

			<div class="col-6">
			</div>
		</div>
	</form>

}

