@using ManageVentory.Models <!-- namespace -->

<!-- Type of data the model is worrking with-->
@model List<Category> 

@section title{
	<h3>Categories</h3>
}
<!--Uses template from _viewstart which inport template from _layout-->
	<ul>
		@foreach(var category in Model){ //Where Model corresponds to @model and it correspons to controller data
			<li>
				@category.CategoryId
			</li>
		}
	</ul>
